html {
  box-sizing: border-box;
  text-align: center;
  background-color: #3498DB;
  font: 500 16px Roboto;
  color: #3C3C3C;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.pg-header {
  display: -webkit-flex;
  display:  -webkit-box;
  display:  -ms-flexbox;
  display:         flex;
  width: 96%;
  max-width: 742px;
  margin: 20px auto 0;
  font: 700 14px Roboto;
  color: #EBF5FB;
}

.pg-header span {
  width: 50%;
}

.pg-header span:nth-child(1) {
  text-align: left;
}

.pg-header span:nth-child(2) {
  text-align: right;
}

.hdr-link {
  padding: 2px 2px 0 2px;
  box-shadow: inset 0 0 0 0 #EBF5FB;
  border-bottom: 2px solid #EBF5FB;
  color: #EBF5FB;
  -webkit-transition: box-shadow .3s, color .3s;
          transition: box-shadow .3s, color .3s;
}

.hdr-link:visited {
  color: #EBF5FB;
}

.hdr-link:hover {
  box-shadow: inset 0 -18px 0 0 #EBF5FB;
  color: #3498DB;
}

.bag-module {
  width: 96%;
  max-width: 742px;
  height: 400px;
  margin: 6px auto 20px;
  background: #EBF5FB;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, .15);
  overflow: hidden;
}

.module-expandable {
  height: 50px;
  -webkit-transition: height .3s ease-in-out;
          transition: height .3s ease-in-out;
}

.module-expand-button {
  width: 92px;
  height: 28px;
  margin: 10px auto 0;
  padding: 2px 0 0 0;
  box-shadow: inset 0 0 0 0 #3C3C3C;
  border-bottom: 2px solid #3C3C3C;
  font: 700 18px Roboto;
  color: #3C3C3C;
  -webkit-transition: opacity .3s ease-in-out, box-shadow .3s;
          transition: opacity .3s ease-in-out, box-shadow .3s;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.module-exp-btn-clicked {
  box-shadow: inset 0 -40px 0 0 #3C3C3C;
  font: 900 18px Roboto;
  color: white;
}

.txt-module {
  padding: 4px 8px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .15);
  color: #EBF5FB;
}

h1 {
  width: 400px;
  margin: 50px auto 60px;
  padding: 10px 0;
  border-bottom: 3px solid rgba(0, 0, 0, .06);
  font: 900 48px Roboto;
}

h2 {
  width: 400px;
  margin: 20px auto 40px;
  padding: 10px 0;
  border-bottom: 3px solid rgba(0, 0, 0, .06);
  font: 900 32px Roboto;
}

.answer {
  font: 700 64px Roboto;
}

.ans-yes {
  color: #72C831;
}

.ans-no {
  color: #C83131;
}

.ans-subtxt {
  margin-top: 20px;
  opacity: .9;
}

.ratio-bar {
  width: 80%;
  min-width: 240px;
  max-width: 520px;
  height: 4px;
  margin: 40px auto 0;
}

.ratio-ans {
  width: 50%;
  height: 4px;
}

#ratio-yes {
  background-color: #72C831;
}

#ratio-no {
  background-color: #C83131;
}

.ratio-meta {
  width: 80%;
  min-width: 240px;
  max-width: 520px;
  margin: 0 auto;
  transform: translateY(-14px);
}

.ratio-meta div {
  width: 50%;
}

.ratio-meta-yes {
  background-color: #72C831;
}

.ratio-meta-no {
  background-color: #C83131;
}

.mranswers {
  width: 80%;
  margin: 0 auto;
  font:
}

.mra-row {
  width: 100%;
  height: 20px;
  margin: 0 0 8px;
  border-left: 2px solid #C83131;
}

.mra-yes {
  border-left: 2px solid #72C831;
}

.mra-no {
  border-left: 2px solid #C83131;
}

.mra-row td:nth-child(1) {
  margin-left: 20px;
  text-align: left;
}

.mra-row td {
  display: block;
  width: 50%;
  margin-top: 2px;
}

.mra-row td:nth-child(2) {
  font: 500 14px Roboto;
  font-style: italic;
  text-align: right;
  opacity: .8;
  filter: alpha(opacity=80);
}

.flex {
  display: -webkit-flex;
  display:  -webkit-box;
  display:  -ms-flexbox;
  display:         flex;
}
